@use "setting" as *;

.p-card {
  display: flex;
  flex-direction: column;
  font-size: rem(12);
}

.p-card:hover .p-card__img {
  opacity: 0.7;
}

.p-card__head {
  position: relative;
}

.p-card__sale-label {
  position: absolute;
  top: 0;
  left: 0;
  color: $color-base-font-sub;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: rem(75) rem(75) 0 0;
  border-color: $color-card-sale-label transparent transparent transparent;
}

.p-card__sale-label::before {
  content: "sale";
  text-transform: uppercase;
  position: absolute;
  top: rem(-59);
  left: rem(6);
}

.p-card__img {
  width: 100%;
}

.p-card__img img {
  width: 100%;
  aspect-ratio: 154 / 108;
}

.p-card__body {
  margin-top: rem(26);
  flex: 1;
}

.p-card__footer {
  margin-top: rem(17);
}

.p-card__price {
  text-align: right;
}

.p-card__price--sale {
  color: $color-card-sale-font;
}

.p-card__num {
  font-size: rem(16);
}