@use "setting" as *;

.p-item {
  @include mq("md") {
    display: flex;
  }
}

.p-item__images {
  width: 100%;
  @include mq("md") {
    width: 57.9%;
  }
}

.p-item__swiper .swiper-slide img {
  width: 100%;
  aspect-ratio: 579 / 403;
}

.p-item__swiper-thumbnail {
  margin-top: rem(35);
  @include mq("md") {
    margin-top: rem(85);
  }
}

.p-item__swiper-thumbnail .swiper-wrapper {
  justify-content: space-between;
}

.p-item__swiper-thumbnail .swiper-slide {
  opacity: 0.5;
  transition: opacity 0.5s;
  flex: 0 0 23%;
  overflow: hidden;
  cursor: pointer;
  img {
    width: 100%;
    aspect-ratio: 1;
  }
}

.p-item__swiper-thumbnail .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
}

.p-item__detail {
  margin-top: rem(30);
  @include mq("md") {
    margin-top: 0;
    margin-left: 6.3%;
  }
}

.p-item__price-list {
  margin-top: rem(30);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 1;
}

.p-item__sale-tag {
  font-size: rem(12);
  line-height: 1;
  color: $color-item-sale-font;
  background-color: $color-item-sale-background;
  padding: 0.21em 0.92em;
}

.p-item__sale-date {
  font-size: rem(12);
  margin-top: rem(10);
}

.p-item__price {
  text-align: right;
}

.p-item__price-value {
  font-size: rem(22);
  span {
    font-size: rem(16);
  }
}

.p-item__price-include {
  font-size: rem(12);
  margin-top: rem(5);
}

.p-item__spec {
  display: flex;
  flex-wrap: wrap;
  font-size: rem(12);
  margin-top: rem(50);
}

.p-item__spec-title {
  text-align: center;
  font-weight: $regular;
  width: 26.315%;
  background-color: $color-item-spec-background;
  padding: rem(8) 0;
}

.p-item__spec-text {
  padding-left: rem(15);
  width: 73.685%;
  padding: rem(8) rem(15);
}

.p-item__spec-title,
.p-item__spec-text {
  border-top: 1px solid $black-lighter;
}

.p-item__spec-title:last-of-type,
.p-item__spec-text:last-of-type {
  border-bottom: 1px solid $black-lighter;  
}

.p-item__contact {
  text-align: center;
  margin-top: rem(73);
}