@use "setting" as *;

.p-recommend-item__cards {
  margin-top: rem(69);
}

.p-recommend-item__more {
  margin-top: rem(54);
  text-align: right;
}

.p-recommend-item__message {
  margin-top: rem(50);
}